/*------------------------------------*\
    #FONT-WEIGHT-RESPONSIVE
\*------------------------------------*/

// Choose which responsive font-weights should be genrated.
$inuit-enable-font-weight--responsive--100:     false !default;
$inuit-enable-font-weight--responsive--200:     false !default;
$inuit-enable-font-weight--responsive--300:     false !default;
$inuit-enable-font-weight--responsive--400:     false !default;
$inuit-enable-font-weight--responsive--500:     false !default;
$inuit-enable-font-weight--responsive--600:     false !default;
$inuit-enable-font-weight--responsive--700:     false !default;
$inuit-enable-font-weight--responsive--800:     false !default;
$inuit-enable-font-weight--responsive--900:     false !default;



@each $breakpoint in $breakpoints {

    $alias:     nth($breakpoint, 1);

    @include media-query($alias) {

        @if ($inuit-enable-font-weight--responsive--100 == true) {

            /**
             * Font weight 100 #{$alias}.
             */
            .u-weight-100-#{$alias} {
                font-weight: 100 !important;
            }

        }

        @if ($inuit-enable-font-weight--responsive--200 == true) {

            /**
             * Font weight 200 #{$alias}.
             */
            .u-weight-200-#{$alias} {
                font-weight: 200 !important;
            }

        }

        @if ($inuit-enable-font-weight--responsive--300 == true) {

            /**
             * Font weight 300 #{$alias}.
             */
            .u-weight-300-#{$alias} {
                font-weight: 300 !important;
            }

        }

        @if ($inuit-enable-font-weight--responsive--400 == true) {

            /**
             * Font weight 400 #{$alias}.
             */
            .u-weight-400-#{$alias} {
                font-weight: 400 !important;
            }

        }

        @if ($inuit-enable-font-weight--responsive--500 == true) {

            /**
             * Font weight 500 #{$alias}.
             */
            .u-weight-500-#{$alias} {
                font-weight: 500 !important;
            }

        }

        @if ($inuit-enable-font-weight--responsive--600 == true) {

            /**
             * Font weight 600 #{$alias}.
             */
            .u-weight-600-#{$alias} {
                font-weight: 600 !important;
            }

        }

        @if ($inuit-enable-font-weight--responsive--700 == true) {

            /**
             * Font weight 700 #{$alias}.
             */
            .u-weight-700-#{$alias} {
                font-weight: 700 !important;
            }

        }

        @if ($inuit-enable-font-weight--responsive--800 == true) {

            /**
             * Font weight 800 #{$alias}.
             */
            .u-weight-800-#{$alias} {
                font-weight: 800 !important;
            }

        }

        @if ($inuit-enable-font-weight--responsive--900 == true) {

            /**
             * Font weight 900 #{$alias}.
             */
            .u-weight-900-#{$alias} {
                font-weight: 900 !important;
            }

        }

    } // Close media query.

} // Close breakpoints loop.
